[mysqld]

server-id = 1 # server ID, random int

log_bin = /var/log/mysql/mysql-bin.log # path to binlog
slow_query_log_file = /var/log/mysql_slow_query.log
open_files_limit = 200000
max_connections = 10000
admin_ssl=off



binlog_do_db = mydb # database name
