[mysqld]

server-id = 2

relay-log = /var/log/mysql/mysql-relay-bin.log
slow_query_log_file = /var/log/mysql_slow_query.log

log_bin = /var/log/mysql/mysql-bin.log


open_files_limit = 200000
max_connections = 10000
admin_ssl=off

binlog_do_db = mydb # database name
